/* Some Default CSS style */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* Default css ends here */

/* health_banner starts from here */
.health_banner{
    text-align: center;
    position: relative;
}
.health_banner .banner-inside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_bg.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}
.health_banner .banner-inside .banner-logo img{
    padding: 20px;
    height: 120px;
    width: 200px;
}
.health_banner .banner-inside .banner-text{
    color:white;
    text-align: center;
}
.health_banner .banner-inside .banner-text h2{
    font-size: 55px;
}
.health_banner .banner-inside .banner-text .text-timing{
    line-height: 1.5;
    font-size: 20px;
}
.health_banner .banner-inside .buttn{
    width: 360px;
    position: absolute;
    left: 40%;
    bottom: 180px;
}
.health_banner .banner-inside .buttn .img-gallery{
    float: left;
}
.health_banner .banner-inside .buttn .recrd-class{
    float: right;
}
button{
    padding:15px 20px;
    background: transparent;
    color: white;
    border-color: #ffb120;
}
button:hover{
    background-color: #ffb120;
    color: black;
    font-weight: bold;
}
.health_banner .banner-inside .other-links .text-links{
    position: absolute;
    bottom: 125px;
    left: 45%;
    color: white;
}
.health_banner .banner-inside .other-links a{
    text-decoration: underline;
    color: white;
}
.health_banner .banner-inside .other-links .down-arrow{
    position: absolute;
    bottom: 40px;
    left: 48%;
}
.health_banner .banner-inside .other-links .down-arrow img{
    height: 50px;
    width: 50px;
}
/* health_banner ends here */

/* fitness card starts from here */
.fitness_card{
    text-align: center;
    margin-bottom: 30px;
}
.fitness_card .fitness-text{
    font-size: 50px;
    font-weight: bold;
}
.fitness_card .card-container{
    background-color: white;
    margin: 70px -2px;
}
.fitness_card .card-container .card .icon{
    position: absolute;
    top:-45px;
    left:35%;
    background-color: white;
    border: 5px solid #ffb120;
}
.fitness_card .card-container .card .icon img{
    height: 80px;
    width: 80px;
}
.fitness_card .card-container .card{
    position: relative;
    float: left;
    width: 25%;
    /* min-height: 250px; */
    background-color: rgb(255, 177, 32);
    text-align: center;
    padding: 50px 2px;
    border: 8px solid white;
}
.fitness_card .card-container .card .card-text h5{
    font-size: 20px;
}
.fitness_card .card-container .card .arrow img{
    width: 40px;
    height: 40px;
}
/* fitness card ends here */
/* work_banner starts from here */
.work_banner{
    text-align: center;
    position: relative;
}
.work_banner .workbanner-inside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_2.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}
.work_banner .workbanner-inside .workbanner-items{
    color: white;
    position: absolute;
    top: 150px;
    left: 20%;
}
.work_banner .workbanner-inside .workbanner-items .inside-text h3{
    font-size: 50px;
}
.work_banner .workbanner-inside .workbanner-items .text-links{
    font-size: 20px;
    margin-bottom: 35px;
}
.work_banner .workbanner-inside .workbanner-items .text-links a{
    text-decoration: underline;
     color: white;
}
.work_banner .workbanner-inside .workbanner-items button{
    padding: 25px 70px;
    background-color: #ffb120;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
/* work_banner ends here */
/* invite-inspiring section starts from here */
.invite-inspiring {
position: relative;
}
.invite-inspiring .invite-image{
    float: left;
}
.invite-inspiring .invite-image img{
    height: 380px;
}
.invite-inspiring .invite-text{
    float: left;
    position: absolute;
    right: 20%;
    top: 15%;
}
.invite-inspiring .invite-text h5{
    font-size: 18px;
}
.invite-inspiring .invite-text .text{
    width: 290px;
    line-height: 1.5;
    margin-bottom: 15px;
}
/* invite-inspiring section ends here */
    
/* work-hard section starts from here */
.background-section .work-section {
    position: relative;
    margin-bottom: 250px;
    }
.background-section  .work-section .work-image{
        float: right;
        position: absolute;
        right: 13%;
        top: -29px;
    }
.background-section .work-section .work-image img{
        height: 380px;
    }
.background-section .work-section .work-text{
        float: left;
        position: absolute;
        left: 8%;
        top: 140px;
    }
.background-section .work-section .work-text h5{
        font-size: 18px;
    }
.background-section .work-section .work-text .text{
        width: 400px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
.background-section .work-section .work-text .button{
       margin-bottom: 40px;
    }
.background-section .work-section .work-text .text-links,a{
        color: black;
        font-style: italic;
     }
     
    /* work-hard section ends here */

/* background section starts from here */
.background{
    margin-bottom: 500px;
    position: relative;
}
.background-inside{
    background-color: #ffb120;
    height: 230px;
    text-align: center;
    margin-bottom: 500px;
   
}
/* background section ends here */

/*benefit section starts from here */
/* .benefit-section{
    background-color: #ffb120;
    margin-bottom: 500px;
    text-align: center;
   
}
.benefit-section .benefit-inside .benefit-heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.benefit-section .benefit-inside .benefit-card .card{
    width: 25%;
    padding:0px 10px;
    background-color: #fffcf1;

} */
/* benefit section ends here */




/* member-section starts from here */
.member-section{
    text-align: center;
    position: relative; 
    height: 730px;
}
.member-section .member-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_3.jpg");
    height: 450px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
.member-section .member-background .member-inside{
    margin-bottom: 25px;
}
.member-section .member-background .member-inside .member-heading{
    color: white;
    padding: 30px;
    font-size: 55px;
}
.member-section .member-background .member-inside .member-text{
    color: white;
    font-size: 25px;
    margin-bottom: 45px;
}
.member-section .member-background .text-links a{
    text-decoration: underline;
    color: black;
}
.member-section .member-background .member-inside .member-card{

}
.member-section .member-background .member-inside .member-card .card{
    float: left;
    width: 29%;
    height: 350px;
    background-color: #fffcf1;
    text-align: center;
    border: 3px solid #ffb120;
    margin: 0px 20px;
}
.member-section .member-background .member-inside .member-card .card .card-heading{
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}
.member-section .member-background .member-inside .member-card .card .card-text{
    font-size: 20px;
    padding: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.member-section .member-background .member-inside .member-card .card .member-btn{
    background-color: #ffb120;
    color: black;
    font-weight: bold;
    padding: 12px 45px;
}
.member-section .member-background .member-inside .member-card .card .member-btn:hover{
    background-color: #ffb120;
    color: black;
    font-weight: bold;
    padding: 12px 45px;
}
/* member-section ends here */
/* amenities-section starts from here */
.amenities-section{
    text-align: center;
    margin-bottom: 45px;
}
.amenities-section .amenities-inside{
    margin-bottom: 20px;
}
.amenities-section .amenities-inside .amenities-heading{
    font-size: 60px;
    margin-bottom: 15px;
}
.amenities-section .amenities-inside .amenities-text{
    font-size: 30px;
    margin-bottom: 35px;
}
.amenities-section .amenities-inside .amenities-card{
    margin: 0px -10px;

}
.amenities-section .amenities-inside .amenities-card .card{
    width: 33.33%;
    position: relative;
    float: left;
    padding: 10px;
}
.amenities-section .amenities-inside .amenities-card .card .card-1-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg1.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-1-button{
    position: absolute;
    left: 85px;
    top: 190px;
}
.card-button{
    padding: 15px 35px;
    background-color: #ffb120;
    color: black;
    font-size: 18px;
}
.amenities-section .amenities-inside .amenities-card .card .card-2-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg2.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-2-button{
    position: absolute;
    left: 85px;
    top: 190px;
}
.amenities-section .amenities-inside .amenities-card .card .card-3-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg3.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-3-button{
    position: absolute;
    left: 85px;
    top: 190px;
}

.amenities-section .amenities-inside .amenities-card .card .card-4-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg4.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-4-button{
    position: absolute;
    left: 85px;
    top: 190px;
}
.amenities-section .amenities-inside .amenities-card .card .card-5-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg5.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-5-button{
    position: absolute;
    left: 85px;
    top: 190px;
}
.amenities-section .amenities-inside .amenities-card .card .card-6-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg6.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-6-button{
    position: absolute;
    left: 85px;
    top: 190px;
}
.amenities-section .text-links a{
    text-decoration: underline;
    color: black;
}
/* amenities-section ends here */

/* follow-section starts from here */
.follow-section{
    text-align: center;
    position: relative;
    
}
.follow-section .follow-section-inside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_bg1.jpg");
    height: 650px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    
}
.follow-section .follow-section-inside .follow-section-items{
    position: absolute;
    top: 25%;
    left: 16%;
}
.follow-section .follow-section-inside .follow-section-items .inside-img{
    margin-bottom:5px;
   
}
.follow-section .follow-section-inside .follow-section-items .inside-heading{
    color: white;
    font-size: 65px;
    margin-bottom: 10px;   
}
.follow-section .follow-section-inside .follow-section-items .inside-text{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.follow-section .follow-section-inside .follow-section-items .inside-text a{
    color: #ffb120;
    text-decoration: none;
}
.follow-section .follow-section-inside .follow-section-items .inside-links, .inside-links a{
    color: white;
    font-style: italic; 
}

/* follow-section ends here */

/* our-trainer section starts from here */
.our-trainer{
    margin-bottom: 50px;

}
.our-trainer .our-trainer-text{
    float: left;
    width: 50%;
    margin-top: 50px;
}
.our-trainer .our-trainer-text .heading{
    font-size: 50px;
    margin-bottom: 20px;
}
.our-trainer .our-trainer-text .text{
    width: 381px;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 15px;
}
.our-trainer .our-trainer-text .links, .links a{
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}
.member-btn{
    background-color: #ffb120;
    color: black;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
}
.our-trainer .our-trainer-image{
    float: left;
    width: 50%;
}
.our-trainer .our-trainer-image .our-trainer-card{
    margin: 0px -20px;
}
.our-trainer .our-trainer-image .our-trainer-card .card{
    float: left;
    width: 50%;
    padding: 10px 20px; 
}
.our-trainer .our-trainer-image .our-trainer-card .card img{
    height: 300px;
    width: 300px;

}
/* our-trainer ends here */


/* personal_training-section starts from here */
.personal_training{
    text-align: center;
    position: relative;   
}
.personal_training .personal_training-inside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_bg3.jpg");
    height: 650px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.personal_training .personal_training-inside .personal_training-items{
    position: absolute;
    top: 25%;
    left: 16%;
}
.personal_training .personal_training-inside .personal_training-items .inside-img{
    margin-bottom:5px; 
}
.personal_training .personal_training-inside .personal_training-items .inside-heading{
    color: white;
    font-size: 65px;
    margin-bottom: 10px;   
}
.personal_training .personal_training-inside .personal_training-items .inside-text{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.personal_training .personal_training-inside .personal_training-items .inside-text a{
    color: #ffb120;
    text-decoration: none;
}
.personal_training .personal_training-inside .personal_training-items .inside-links, .inside-links a{
    color: white;
    font-style: italic; 
}
/* personal_training ends here */

/* form-section starts from here */
.form-section{
    position: relative;
}
.form-section .form-section-inside{
    background-color: #ffb120;
    height: 650px;
}
.form-section .form-section-inside .contact-us{
    background-color: white;
    position: absolute;
    top: 10%;
    left: 34%;
    width: 550px;
    padding: 20px;
}
.form-section .form-section-inside .contact-us .tittle{
    text-align: center;
    font-size: 35px;
}
.form-section .form-section-inside .contact-us .address-name-side .address , .name{
    float: left;
    padding: 10px;
}
.form-section .form-section-inside .contact-us .number-date-side .number, .date{
    float: left;
    padding: 10px;
}
.form-section .form-section-inside .contact-us .message, .button-submit{
    padding: 10px;
}

input[type=text],input[type=tel],input[type=date] {
    width: 235px;
    padding: 12px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
textarea{
    width: 500px;
    padding: 12px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #ebebeb;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #0c0c0c;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
  
  
/* form-section ends here */