/* Some Default CSS style */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
/* Default css ends here */

/* health_banner starts from here */
.health_banner{
    text-align: center;
    position: relative;
}
.health_banner .banner-inside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_bg.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}
.health_banner .banner-inside .banner-logo img{
    padding: 20px;
    height: 120px;
    width: 200px;
}
.health_banner .banner-inside .banner-text{
    color:white;
    text-align: center;
}
.health_banner .banner-inside .banner-text h2{
    font-size: 55px;
}
.health_banner .banner-inside .banner-text .text-timing{
    line-height: 1.5;
    font-size: 20px;
}
.health_banner .banner-inside .buttn{
    width: 360px;
    position: absolute;
    left: 40%;
    bottom: 180px;
}
.health_banner .banner-inside .buttn .img-gallery{
    float: left;
}
.health_banner .banner-inside .buttn .recrd-class{
    float: right;
}
button{
    padding:15px 20px;
    background: transparent;
    color: white;
    border-color: #ffb120;
}
button:hover{
    background-color: #ffb120;
    color: black;
    font-weight: bold;
}
.health_banner .banner-inside .other-links .text-links{
    position: absolute;
    bottom: 125px;
    left: 45%;
    color: white;
}
.health_banner .banner-inside .other-links a{
    text-decoration: underline;
    color: white;
}
.health_banner .banner-inside .other-links .down-arrow{
    position: absolute;
    bottom: 40px;
    left: 48%;
}
.health_banner .banner-inside .other-links .down-arrow img{
    height: 50px;
    width: 50px;
}
/* health_banner ends here */

/* fitness card starts from here */
.fitness_card{
    text-align: center;
    margin-bottom: 30px;
}
.fitness_card .fitness-text{
    font-size: 50px;
    font-weight: bold;
}
.fitness_card .card-container{
    background-color: white;
    margin: 70px -2px;
}
.fitness_card .card-container .card .icon{
    position: absolute;
    top:-45px;
    left:35%;
    background-color: white;
    border: 5px solid #ffb120;
}
.fitness_card .card-container .card .icon img{
    height: 80px;
    width: 80px;
}
.fitness_card .card-container .card{
    position: relative;
    float: left;
    width: 25%;
    /* min-height: 250px; */
    background-color: rgb(255, 177, 32);
    text-align: center;
    padding: 50px 2px;
    border: 8px solid white;
}
.fitness_card .card-container .card .card-text h5{
    font-size: 20px;
}
.fitness_card .card-container .card .arrow img{
    width: 40px;
    height: 40px;
}
/* fitness card ends here */
/* work_banner starts from here */
.work_banner{
    text-align: center;
    position: relative;
}
.work_banner .workbanner-inside{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_2.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
}
.work_banner .workbanner-inside .workbanner-items{
    color: white;
    position: absolute;
    top: 150px;
    left: 20%;
}
.work_banner .workbanner-inside .workbanner-items .inside-text h3{
    font-size: 50px;
}
.work_banner .workbanner-inside .workbanner-items .text-links{
    font-size: 20px;
    margin-bottom: 35px;
}
.work_banner .workbanner-inside .workbanner-items .text-links a{
    text-decoration: underline;
     color: white;
}
.work_banner .workbanner-inside .workbanner-items button{
    padding: 25px 70px;
    background-color: #ffb120;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
/* work_banner ends here */
/* image section starts from here */
/* top-section */
.image-section .top-section .top-image{
    float: left;
}
.image-section .top-section .top-image img{
    height: 380px;
}
.image-section .top-section .top-text{
    float: right;
    width: 34%;
    padding: 60px 20px;
}
.image-section .top-section .top-text .cta-button{
    padding: 15px 20px;
    background:  #ffb120;
    color: black;
    font-weight: bold;
}
/* bottom-section */
.image-section .bottom-section .bottom-image{
    float: right;
    margin: -50px;
}
.image-section .bottom-section .bottom-image img{
    height: 380px;
}
.image-section .bottom-section .bottom-text{
    float: left;
    width: 34%;
    padding: 60px 20px;
}
.image-section .bottom-section .bottom-text .cta-button{
    padding: 15px 20px;
    background:  #beaf92;
    color: black;
    font-weight: bold;
    border:none;
    margin-bottom: 10px;
}
.image-section .bottom-section .bottom-text .text-links{
    color: black;
    font-style: italic;
}
.image-section .bottom-section .bottom-text .text-links .freepik{
    text-decoration: underline;
    color: black;
    font-style: italic;
}
/* image section ends here */

/* member-section starts from here */
.member-section{
    text-align: center;
    position: relative; 
    height: 730px;
}
.member-section .member-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/banner_3.jpg");
    height: 450px;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
.member-section .member-background .member-inside{
    margin-bottom: 25px;
}
.member-section .member-background .member-inside .member-heading{
    color: white;
    padding: 30px;
    font-size: 55px;
}
.member-section .member-background .member-inside .member-text{
    color: white;
    font-size: 25px;
    margin-bottom: 45px;
}
.member-section .member-background .text-links a{
    text-decoration: underline;
    color: black;
}
.member-section .member-background .member-inside .member-card{

}
.member-section .member-background .member-inside .member-card .card{
    float: left;
    width: 29%;
    height: 350px;
    background-color: #fffcf1;
    text-align: center;
    border: 3px solid #ffb120;
    margin: 0px 20px;
}
.member-section .member-background .member-inside .member-card .card .card-heading{
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}
.member-section .member-background .member-inside .member-card .card .card-text{
    font-size: 20px;
    padding: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.member-section .member-background .member-inside .member-card .card .member-btn{
    background-color: #ffb120;
    color: black;
    font-weight: bold;
    padding: 12px 45px;
}
.member-section .member-background .member-inside .member-card .card .member-btn:hover{
    background-color: #ffb120;
    color: black;
    font-weight: bold;
    padding: 12px 45px;
}
/* member-section ends here */
/* amenities-section starts from here */
.amenities-section{
    text-align: center;
}
.amenities-section .amenities-inside{
    margin-bottom: 20px;
}
.amenities-section .amenities-inside .amenities-heading{
    font-size: 60px;
    margin-bottom: 15px;
}
.amenities-section .amenities-inside .amenities-text{
    font-size: 30px;
    margin-bottom: 35px;
}
.amenities-section .amenities-inside .amenities-card{
    margin: 0px -10px;

}
.amenities-section .amenities-inside .amenities-card .card{
    width: 33.33%;
    position: relative;
    float: left;
    padding: 10px;
}
.amenities-section .amenities-inside .amenities-card .card .card-1-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg1.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-1-button{
    position: absolute;
    left: 105px;
    top: 175px;
}
.card-button{
    padding: 15px 20px;
    background-color: #ffb120;
    color: black;
}
.amenities-section .amenities-inside .amenities-card .card .card-2-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg2.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-2-button{
    position: absolute;
    left: 105px;
    top: 175px;
}
.amenities-section .amenities-inside .amenities-card .card .card-3-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg3.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-3-button{
    position: absolute;
    left: 105px;
    top: 175px;
}

.amenities-section .amenities-inside .amenities-card .card .card-4-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg4.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-4-button{
    position: absolute;
    left: 105px;
    top: 175px;
}
.amenities-section .amenities-inside .amenities-card .card .card-5-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg5.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-5-button{
    position: absolute;
    left: 105px;
    top: 175px;
}
.amenities-section .amenities-inside .amenities-card .card .card-6-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("images/card_bg6.jpg");
    height: 450px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.amenities-section .amenities-inside .amenities-card .card .card-6-button{
    position: absolute;
    left: 105px;
    top: 175px;
}
.amenities-section .text-links a{
    text-decoration: underline;
    color: black;
}
/* amenities-section ends here */